<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glword - Tu Catálogo GL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header class="hero-banner">
            <div class="hero-overlay">
                <h1>Glword</h1>
            </div>
        </header>

        <main id="main-content">
            <section class="gallery-section">
                <h3>Novedades</h3>
                <div class="catalog-grid" id="catalog-grid">
                    </div>
            </section>
        </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
